.form-check-input:checked {
  background-color: #198754;
  border-color: #198754;
}
.form-check-input:checked {
  box-shadow: rgba(25, 135, 84, 0.402);
}
input[type='search']::-webkit-search-cancel-button {
  filter: invert(100%) hue-rotate(105deg);
}
input:focus {
  border-color: #198754;
}
