<form class="d-flex justify-content-between gap-2">
  <div class="search-wrapper">
    <input
      class="form-control me-2 focus-ring"
      type="search"
      id="search"
      placeholder="Search by Task"
      aria-label="Search"
      [formControl]="userSearchInput"
    />
  </div>
  <app-button
    [label]="'PAGE.BUTTONS.ADD_TASK' | translate"
    cssClass="btn btn-success"
    toggle="modal"
    target="#createTaskModal"
    (taskAdded)="refreshTodos()"
  ></app-button>
</form>
<p *ngIf="userSearchInput.value">
  Number of search result :
  {{ (todos() | searchFilterPipe : userSearchInput.value).length }} out of
  {{ todos().length }} total tasks
</p>

<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">{{ 'PAGE.LABELS.TASK_HEADER' | translate }}</th>
      <th scope="col">{{ 'PAGE.LABELS.DUE_DATE_HEADER' | translate }}</th>
      <th scope="col">{{ 'PAGE.LABELS.ACTIONS_HEADER' | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="pendingTasks().length === 0">
      <td colspan="100%" class="text-center">No tasks to show!</td>
    </tr>
    <tr
      *ngFor="
        let pendingTask of pendingTasks()
          | searchFilterPipe : userSearchInput.value
      "
      appHighlightPending
      [overdueDate]="pendingTask.dueDate"
      [isCompleted]="pendingTask.completed"
    >
      <th scope="row">
        <input
          class="form-check-input focus-ring"
          type="checkbox"
          id="`checkDefaultPending+${{ pendingTask.id }}`"
          [checked]="pendingTask.completed"
          (change)="toggleComplete(pendingTask)"
        />
      </th>
      <td>
        {{ pendingTask.task }}
      </td>
      <td>{{ pendingTask.dueDate | date : 'dd/MM/yyyy' }}</td>
      <td>
        <div class="d-flex column-gap-2">
          <app-button
            icon="bi bi-pencil-fill"
            cssClass="btn btn-sm"
            toggle="modal"
            target="#editTaskModal"
            (click)="openEditModal(pendingTask)"
          ></app-button>
          <app-button
            icon="bi bi-trash-fill"
            cssClass="btn btn-sm"
            (click)="onDelete(pendingTask.id)"
          ></app-button>
        </div>
      </td>
    </tr>
    <tr>
      <td></td>
      <th colspan="3">
        {{ 'PAGE.LABELS.COMPLETED_TASKS_HEADER' | translate }}
      </th>
    </tr>
    <tr *ngIf="!completedTasks().length">
      <td colspan="100%" class="text-center">No completed tasks to show!</td>
    </tr>
    <tr
      *ngFor="
        let completedTask of completedTasks()
          | searchFilterPipe : userSearchInput.value
      "
    >
      <th scope="row">
        <input
          class="form-check-input focus-ring"
          type="checkbox"
          id="`checkDefaultPending+${{ completedTask.id }}`"
          [checked]="completedTask.completed"
          (change)="toggleComplete(completedTask)"
        />
      </th>
      <td>{{ completedTask.task }}</td>
      <td>{{ completedTask.dueDate | date : 'dd/MM/yyyy' }}</td>
      <td colspan="2"></td>
    </tr>
  </tbody>
</table>
<app-create-todo
  [id]="'createTaskModal'"
  [title]="'PAGE.LABELS.ADD_TASK_TITLE' | translate"
  (taskAdded)="refreshTodos()"
></app-create-todo>
<app-create-todo
  [id]="'editTaskModal'"
  [title]="'PAGE.LABELS.EDIT_TASK_TITLE' | translate"
  [todoData]="selectedTaskToEdit"
  (taskAdded)="refreshTodos()"
></app-create-todo>
